* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    row-gap: 10px;
}

#loginForm {
    width: 50%;
    display: grid;
    align-items: center;

    #loginButton {
        margin-top: 10px;
    }
}